- if current_user
  %button.csv_download_link.btn.gl-button.btn-default.has-tooltip{ title: _('Export as CSV'),
    data: { toggle: 'modal', target: ".#{issuable_type}-export-modal", qa_selector: 'export_as_csv_button' } }
    = sprite_icon('export')
